.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 15vh;
}
.header-title {
    border-bottom: none;
  }